

body {
  background-image: url('links/background.jpg');
  min-height: 100vh;
  margin: 0;
  padding: 40px 60px;          /* space from top/left */
  display: flex;
  flex-direction: column;      /* stack title above capsules */
  align-items: flex-start;     /* left align */
  justify-content: flex-start; /* top align */
}

@font-face {
  font-family: 'MyFont';            /* regular */
  src: url('links/TTNormsProMono-Rg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyFontThin';        /* thin */
  src: url('links/TTNormsProMono-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

h1{
  font-family: 'MyFontThin';  /* thin */
  font-size: 5rem;
}

.title{
  align-items: center;
  justify-items: center;
}

/* grid of capsules */
.capsule-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  grid-row-gap: 150px;
  grid-column-gap: 80px;
  align-items: center;
  justify-items: center;
  padding: 70px 70px;
}

/* each capsule + year */
.capsule-item {
  text-decoration: none;
  color: #333;
  text-align: center;
  font-family: 'MyFont';
}

.capsule-img {
  max-width: 400px;
  height: auto;
  display: block;
  transition: transform 0.18s ease-out;
}

.capsule-year {
  margin-top: 12px;
  font-size: 1.1rem;
}

.tilt { }

